:host ::ng-deep {
  margin: 200px;
  &.content {
    height: 790px;
    overflow: auto;
    width: 436px;
    margin-bottom: 18px;
  }

  .custom-toolbar {
    border-radius: 4% 4% 0 0 ;
    width: 436px;
  }

  &.spinner-item {
    display: grid;
    place-items: center;
    margin-top: 10px;
  }

  hr{
    opacity: 0.4;
  }
}
