:host ::ng-deep {
  display: flex;
  justify-content: center;
  background-image: url(../image/phone_border.png);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: center;
}
